#
# TODO: add more comments, e.g. the infamous sys prog!
#
CICSDEV_USER=cicsuser
CMCI_URL=http://cmci.example.com:1490

#
# Set these if you need to configure a JVM server
#
CICSDEV_JVMPROFILE_JAVA_HOME=/usr/lpp/java/J17.0_64
#JVMPROFILE_WORK_DIR=/u/cicsuser/cicsdev/work
CICSDEV_JVMPROFILE_WLP_XML=/u/cicsuser/cicsdev/libertyInclude.xml
CICSDEV_JVMPROFILE_DIR=/u/cicsuser/cicsdev/JVMProfiles

#
# Set this to use dropin deploy (TBC)
#
JVMPROFILE_LIBERTY_DROPIN_DIR=/u/cicsuser/cicsdev/work/MYCICS/CICSDEV/wlp/usr/servers/defaultServer/dropins

#
# Set these if bundle deploy is enabled
#
CICSDEV_JVM_SERVER=DFHWLP
#CICSDEV_PLEX=
#CICSDEV_REGION=
CICSDEV_CSD_GROUP=CICSDEV
CICSDEV_BUNDLE=HELLOWLP
CICSDEV_BUNDLE_DIR=/u/cicsuser/cicsdev/bundles/cics-java-liberty-hello-bundle_1.0.0
